main {
  background: rgb(238, 238, 238);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  border-radius: 5px;
  margin: 30px 0;
}

#title {
  padding: 17px 0 0 0;
}

#title h1 {
  font-size: 45px;
}

#title p {
  color: rgb(91, 91, 91);
}

#img-div {
  background: rgb(255, 255, 255);
  margin: 0 15px;
}

#img-caption {
  padding: 0 0 16px 0;
  color: rgb(91, 91, 91);
}

#tribute-info h3 {
  padding: 30px 0;
  font-weight: 700;
}

#tribute-info {
  margin-left: 450px;
  margin-right: 450px;
}

#tribute-info ul {
  text-align: initial;
}

#bold {
  font-size: 18px;
}

#bold a:any-link {
  color: rgb(71, 124, 167);
}
